################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
/TOL/.vs
/TOL/TOL/wwwroot

